body, html
{
width:100%;
height:100%;
}
.mblil
{
  display:inline !important;
}
div.ggLog-leftinputmobile
{
  width:100%;
  display:block;
  text-align:left;
  padding-left:5%;
  margin-top:4px;
  margin-bottom:4px;
}
div.ggLog-centerinputmobile
{
  width:100%;
  display:block;
  text-align:center;
  margin-top:4px;
  margin-bottom:4px;
  padding: 0 5%;
}
.ggLog-biggraytext
{
  color:#AAAAAA;
  font-size:1.3em;
}
.ggLog-inputpad
{
  padding-left:3px !important;
  padding-right:3px !important;
}
.ggLog-inputhour
{
  float:left;
  width:20px;
  margin:0;
  padding:0;
}
.ggLog-inputms
{
  float:left;
  width:25px;
  margin:0;
  padding:0;
}
.ggLog-lefttimewords
{
  float:left;
  padding:4px 7px;
}
div.ggLog-newworkoutmobile
{
  display:block;
  width:100%;
}
div.ggLog-buttonholder
{
  display:block;
  width:400px;
  margin-left:auto;
  margin-right:auto;
}
div.ggLog-buttonholdermobile
{
  display:block;
  width:100%;
  padding-left:10%;
}
div.ggLog-newworkout
{
  position:relative;
  top:10px;
  left:50px;
  width:90%;
}
div.ggLog-center
{
  border-radius:15px;
  padding:10px;
  background-color:#EEEEEE;
  width:600px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
div.ggLog-centerseasons
{
  border-radius:15px;
  padding:0px;
  background-color:#FFF;
  width:600px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
div.ggLog-cover
{
  position:fixed;
  z-index:5;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
div.colorcover
{
  position:absolute;
  width:100%;
  height:100%;
  z-index:15;
  background-color:#333;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
div.ggLog-centerquestion
{
/*  display:block;
  margin-left:auto;
  margin-right:auto; */
  position:relative;
  width:300px;
  height:150px;
  top:50%;
  margin-top:-75px; /* half of height */
  left:50%;
  margin-left:-150px;

  padding:20px;
  border-radius:10px;
  z-index:16;
  background-color:#FFF;
}
div.ggLog-centernewseason
{
  position:relative;
  width:360px;
  height:250px;
  top:50%;
  margin-top:-125px;
  left:50%;
  margin-left:-180px;

  padding:20px;
  border-radius:10px;
  z-index:16;
  background-color:#FFF;
}
hr.ggLog-partial
{
  width:80%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
div.ggLog-center-90
{
/*  border-radius:15px; */
  padding:10px;
/*  background-color:#EEEEEE; */
  left:150px;
  width:800px;
  position:relative;
  top:0;
}
div.runspecs
{
  position:relative;
  top:0;
  left:0;
  width:200px;
  padding:3px;
}
div.ggLog-centermobile
{
  border-radius:15px;
  padding:10px;
  background-color:#EEEEEE;
  width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
div.ggLog-containrecentworkouts
{
  position:relative;
  height:20px;
  top:0;
  width:100%;
}

a.editworkoutlink:link
{
  text-decoration:none;
  color:#999;
  font-size:0.9em;
}
a.editworkoutlink:visited
{
  text-decoration:none;
  color:#999;
  font-size:0.9em;
}
a.editworkoutlink:hover
{
  text-decoration:none;
  color:#111;
  font-size:0.9em;
}
a.editworkoutlink:active
{
  text-decoration:none;
  color:#111;
  font-size:0.9em;
}
a.none:link {text-decoration:none;color:inherit;}
a.none:visited {text-decoration:none;color:inherit;}
a.none:hover {text-decoration:none;color:inherit;}
a.none:active {text-decoration:none;color:inherit;}
span.workoutdate
{
  padding-left:25px;
}

span.workouttitle
{
  padding-left:40px;
}
